
<div>
  <div>
    <h1>
      List of all apartment images
    </h1>
  </div>
</div>


<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Listing name 
        </th>

        <th>
          Address
        </th>

        <th>
          Image 
        </th>


        <th>
        </th>
      </tr>

      <% @list_of_apartment_images.each do |an_apartment_image| %>
      <tr>
        <td>
          <%= an_apartment_image.apartment.title %>
        </td>

        <td>
          <%= an_apartment_image.apartment.address %>
        </td>

        <td>
          <img src="<%= an_apartment_image.image_url %>" style="width: 450px; height: auto">
        </td>

        <td>
          <a href="/apartments/<%= an_apartment_image.apartment.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
